<div class="container">
    <toggle (toggle)="onToggle($event)">
        <!-- a toggle component that allows the user to put whatever they want inside -->
        <div class="row">
            <div class="col text-center">
                <toggle-button></toggle-button>
                <toggle-on>
                    <span class="badge badge-success">ON</span>
                </toggle-on>
                <toggle-off>
                    <span class="badge badge-danger">OFF</span>
                </toggle-off>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <other-component></other-component>
            </div>
        </div>
    </toggle>
</div>
