<div toggle #baseToggle #myToggle="toggle" #myToggleProvider="toggleProvider" (toggle)="onToggle($event)">
  <toggle-on #toggleOn>On</toggle-on>
  <toggle-off>Off</toggle-off>
  <toggle-button></toggle-button>
  <p>baseToggle is a {{baseToggle.constructor.name}}</p>
  <p>myToggle is a {{myToggle.constructor.name}}</p>
  <p>myToggleProvider is a {{myToggleProvider.constructor.name}}</p>
  <p>toggleOn is a {{toggleOn.constructor.name}}</p>
  <button (click)="myToggleProvider.toggle.setOnState(!myToggleProvider.toggle.on)">Toggle it!</button>
</div>
